.p-title {
  .en {
    font-size: 50px;
    padding-right: 140px;

    &::before {
      height: 40px;
      width: 40px;
    }

    &::after {
      width: 120px;
    }
  }

  .ja {
    font-size: 26px;
  }
}

.top-view {
  margin-top: 85px;

  .hero {
    &__text {
      h2 {
        font-size: 58px;
      }

      &::after {
        left: 236px;
        bottom: 190px;
      }
    }
  }
}

.c-topview {
  margin-top: 90px;

  .c-title {
    .en {
      font-size: 54px;

      &::before {
        height: 50px;
        width: 50px;
      }
    }

    .ja {
      font-size: 28px;
    }
  }
}

.p-works {

  .hero {
    position: relative;
    overflow: hidden;

    .more-btn {
      position: absolute;
      right: 10px;
      bottom: 0;
    }
  }

  .swiper-container2 {
    width: 95%;
    margin-right: 0;
  }
}


// * * * * * * * * * faq-page * * * * * * 
.faq-wrapper {
  .faq-contents {
    .faq {
      &__title {
        margin-bottom: 5vw;
      }

      &__block {

        & dt,
        & dd {
          & .c-txt-md {
            font-size: 24px;
          }
        }
      }

      & .c-title {
        font-size: 26px;
      }

      & .c-txtarea01 {
        margin-bottom: 15vw;

        & .c-txt-sm {
          font-size: 20px;
        }
      }


    }
  }
}